
[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-libp2p"]
	path = vendor/nim-libp2p
	url = https://github.com/vacp2p/nim-libp2p.git
	ignore = untracked
	branch = master
